article {
    padding: 0px 110px;
}
article p {
    font-size: 24px;
    color: #000000;
    font-family: "IM Fell Great Primer", serif;
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: 20px;
}
#welcomeMessage{
    margin-top: 70px;
}
img.article-image {
    margin-top: 6px;
    margin-right: 0px;
    margin-bottom: 23px;
    margin-left: 0px;
    border: 2px solid #000;
    width: 100%;
}
.divider {
    margin: 35px 0;
}
.divider img{
    width: 100%;
}
.latest-article-message-section {
    display: flex;
    justify-content: space-between;

}
.latest-article-message-section a{
    flex: 0 0 50%;
    max-width: 50%;
    display: block;
}
.latest-article-message-section p {
    width: 277px;
}
.latest-article-message-section a img{
    width:  289px;
    max-width: 100%;
}