@media only screen and (max-width: 767px) {

    /* Common CSS */
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .container,
    .container-sm {
        max-width: 540px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }

    h5 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    .xs-100 {
        width: 100%;
    }

    .xs-0 {
        padding: 0;
    }

    /* Header CSS */
    header {
        margin-top: 0;
        padding-bottom: 125px;
    }

    header .logo img {
        max-height: 200px;
        margin-left: 0;
    }

    .logo {
        text-align: center;
    }

    /* ============= Navigation Area CSS ===================== */
    .navigation-area {
        min-height: 76px;
        background-size: auto 100%;
        margin-top: 0px;
    }

    nav {
        position: relative;
    }

    .nav-links.desktop-navigation {
        display: none;
    }

    .topbar {
        min-height: 45px;
    }

    .topbar .container,
    main .container {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-toggler {
        line-height: 1;
        padding: 0;
        border-radius: 0;
    }

    .navbar-toggler.menu-icon {
        cursor: pointer;
        width: auto;
        color: #f1eedb;
        background: #674543;
        font-size: 17px;
        padding: 10px 16px;
        border: 1px solid #000;
        display: inline-block;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        font-family: Calistoga, serif;
        min-width: 150px;
        left: 50%;
        top: -11px;
        transform: translate(-50%, -50%);
        z-index: 10;
        position: absolute;
    }

    .navbar-toggler.menu-icon em {
        font-style: normal;
    }

    .navbar-light .navbar-nav .active>.nav-link,
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .show>.nav-link {
        color: #ffb580;
    }

    .desktop-navigation {
        opacity: 0;
        visibility: hidden;
        display: none;
    }

    .awning-image:before {
        height: 20px;
    }

    .awning-image img {
        min-height: 83px;
        /* height: 85px; */
    }

    .navbar-toggler {
        display: block;
    }

    /*================ Main Content Area CSS =================== */
    main .main-space {
        padding: 10px 41px 110px;
        margin-top: -7px;
        /* overflow-x: hidden; */
    }

    main .title {
        height: 50px;
        width: calc(80% - 24px);
        margin-top: -10px;
        text-align: center;
    }

    main .title h2 {
        font-size: 19px;
        line-height: 50px;
        font-weight: 400;

    }

    main .angle-left {
        position: absolute;
        top: -15px;
        left: 5px;
        width: 97px;
        z-index: 0;
    }

    main .angle-right {
        top: -15px;
        right: 0px;
        width: 97px;
    }

    main .leaves-left {
        top: -4px;
        left: -12px;
        width: 45px;
        z-index: 3;
    }

    main .leaves-right {
        position: absolute;
        top: 15px;
        right: 0px;
        width: 22px;
        z-index: 1;
    }

    main .flame

    /* Adjust this for left candle light Img */
        {
        position: absolute;
        width: 14px;
        z-index: 2;
        top: 23px;
        left: 11px;
    }

    main .flame-right

    /* Adjust this for right candle light Img */
        {
        position: absolute;
        width: 14px;
        z-index: 2;
        top: 21.5px;
        right: 8px;
    }

    main .al-candel,
    main .candle-left,
    main .candle-right {
        position: absolute;
        width: 26px;
        z-index: 2;
    }

    main .al-candel {
        top: 31px;
        right: 12px;
    }

    main .candle-left,
    main .candle-right {
        top: 36px;
    }

    main .candle-left {
        left: 9px;
    }

    main .candle-right {
        right: 9px;
    }

    .columns:after,
    .columns:before {
        width: 20px;
    }

    /* ================== Article start =================== */

    main p,
    ul.list li {
        font-size: 16px;
    }

    article {
        padding: 0 9px;
    }

    article h2 {
        font-size: 23px;
    }

    aside {
        float: none;
        width: auto;
        margin: 16px 0;
        padding: 60px 20px 20px;
    }

    aside::before {
        font-size: 24px;
    }

    main .latest-article-message-section {
        flex-direction: column;
        text-align: center;
    }

    .latest-article-message-section p {
        width: 260px;
    }

    .latest-article-message-section a {
        max-width: 95%;
    }

    #welcomeMessage {
        margin-top: 25px;
    }

    .latest-article-message-section a img {
        width: 100%;
    }


    /* ========== Footer Start  */


    footer {
        padding-top: 13px;
        padding-bottom: 0px;
        transform: translateY(-100%);
        overflow-x: hidden;
    }

    footer .container {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-space {
        padding-top: 30px;
        padding-bottom: 46px;
    }

    /* footer .zindex {
        position: absolute;
        top: 34%;
        left: 0;
        width: 100%;
        transform: translate(0px, -50%);
    } */

    footer li a {
        display: inline-block;
        color: #000;
        padding: 0px 5px 0px 0px;
        font-size: 12px;
    }

    footer p

    /* Adjust this for Footer Paragraph text */
        {
        font-size: 11px;
        margin-top: 3px;
    }

    footer li a {
        font-size: 11px;
    }

    img.footer-wall {
        left: -4px;
        width: calc(100% + 9px);
    }

    img.footer-leaves-left {
        position: absolute;
        top: -60px;
        left: -4px;
        width: 28px;
        z-index: 9;
    }

    img.footer-leaves-right {
        position: absolute;
        top: -60px;
        right: 0px;
        width: 29px;
        z-index: 9;
    }

}


@media screen and (max-width: 540px) {
    .navigation-area {
        min-height: unset;
    }

    main .main-space {
        margin-top: -5px;
    }
}

@media screen and (max-width: 400px) {

    img.footer-leaves-left {
        top: 0px;
    }

    img.footer-leaves-right {
        top: 0px;
    }
}

@media only screen and (min-width: 540px) {
    .latest-article-message-section p {
        width: auto;
        text-align: left;
    }
}