@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* Common CSS */
    p {
        font-size: 14px;
    }

    h2 {
        font-size: 30px;
    }

    .nav_links {
        margin-top: -94px;
    }

    .nav_links ul li a {
        font-size: 12px;
        text-transform: uppercase;
        padding: 0px 9px;
        width: 77px;
        height: 53px;
        padding-top: 24px;
    }

    .nav_links ul li:first-child a {
        clip-path: polygon(0% 33%, 100% 0%, 100% 100%, 0% 100%);
    }

    .nav_links ul li:nth-child(3) a {
        clip-path: polygon(0% 16%, 100% 16%, 100% 100%, 0% 100%);
    }

    .nav_links ul li:last-child a {
        clip-path: polygon(0% 0%, 100% 33%, 100% 100%, 0% 100%);
    }

    .nav_links ul li:first-child {
        position: relative;
        left: -1px;
    }

    .nav_links ul li {
        position: relative;
        left: -3px;
    }

    .nav_links ul li:nth-child(3) {
        position: relative;
        left: -3px;
    }

    .nav_links ul li:nth-child(4) {
        position: relative;
        left: -5px;
    }

    .nav_links ul li:nth-child(5) {
        position: relative;
        left: -6px;
    }

    /* Header CSS */
    .header .nav-item {
        margin: 0px 5px;
    }

    .header .logo img {
        margin-left: 50px;
    }

    /* Main Content Area CSS */
    .main .title h2 {
        line-height: 64px;
        padding-top: 3px;
        width: 100%;
        left: 0%;
        margin-top: -8px;
        font-size: 28px;
        font-weight: 400;

    }

    .main .main-space {
        padding: 0px 50px;
        padding-top: 22px;
        padding-bottom: 180px;
        margin-top: 0;
    }

    .main p {
        font-size: 20px;
    }

    .main .angle-left {
        top: 8px;
        /* Adjust this for top position of left inner window */
        left: 4px;
        /* Adjust this for left position of left inner window */
        width: 180px;
        /* Adjust this for width of left window */
    }

    .main .angle-right {
        top: 8px;
        right: -6px;
        width: 180px;
    }

    .main .candle-left {
        top: 105px;
        /* Adjust this for top position of left candle */
        left: 14px;
        /* Adjust this for left position of left candle */
        width: 31px;
        /* Adjust this for width of left candle */
    }

    .main .candle-right {
        top: 105px;
        /* Adjust this for top position of right candle */
        right: 14px;
        /* Adjust this for right position of right candle */
        width: 31px;
        /* Adjust this for width of right candle */
    }

    .main .flame {
        width: 18px;
        top: 87px;
        left: 16px;
    }

    .main .flame-right {
        width: 18px;
        top: 87.5px;
        right: 12.5px;
    }

    .main .grass-left {
        z-index: 3;
        top: 20px;
    }

    /* .main .flame {
        width: 18px;
        top: 48px;
        left: 16px;
    }

    .main .flame-right {
        width: 18px;
        top: 48.5px;
        right: 12.5px;
    } */

    .main .title {
        width: calc(88% - 24px);
        margin-top: 6px;
    }

    .columns:before,
    .columns:after {
        width: 30px;
    }

    .main .container {
        padding-left: 96px;
        padding-right: 96px;
    }

    article {
        padding: 0px 8px;
    }

    /* ====== Footer start === */
    .footer {
        padding-bottom: 80px;
    }
    .footer .container {
        padding-left: 96px;
        padding-right: 96px;
    }

    .footer-space {
        padding-bottom: 68px;
        margin-top: -6px;
    }
    img.footer-grass-left

    /* Adjust this for left foliage of Footer */
        {
        top: -37px;
        left: -14px;
        width: 52px;
    }

    img.footer-grass-right

    /* Adjust this for right foliage of Footer */
        {
        top: -34px;
        right: -12px;
        width: 51px;
        z-index: 9;
    }
}